<div class="row">
  <div class="col-md-12">
    <% if !@tagged.empty? %>
      <ul>
        <% @tagged.each do |t| %>
          <li><%= t.name %> --- <%= t.class %></li>
        <% end %>
    <% else %>
      <h4>No items with tag "<%= @tag.name %>" found.</h4>
    <% end %>
  </div>
</div>
