<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="col-md-12">
      <%= link_to tutor_path(@tutor) do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="h4">Back</span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Edit Affiliate Event</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>For Tutor: <%= @tutor.name %></h4>
    </div>
  </div>

  <hr>

  <%= simple_form_for :affiliate_event, url: affiliate_event_path(@affiliate_event), method: :patch do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>

  <hr>
</div>
